
.footer {
    background-color: #c78f3bcc; 
    color: white; 
    position: relative; 
    padding-top: 30px;
    padding-bottom: 5px;
    overflow: hidden;
}

.footer::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/map.svg') no-repeat center center; 
    background-size: contain; 
    z-index: 0; 
    opacity: 0.1; 
}

.overlay {
    position: relative;
    z-index: 1; 
}

.link {
    text-decoration: none !important;
    color: white;
    font-weight: 500;
}

.head {
    color: white;
    font-weight: 600;
}

.subhead {
    color:white;
}


@media (max-width: 992px) and (min-width: 768px) {
    .footer {
        padding: 30px 0;
    }

    .head {
        font-size: 1.2rem; 
    }

    .subhead {
        font-size: 1rem; 
        margin-top: 5px; 
    }

    .link {
        font-size: 0.9rem; 
    }
    .foot {
        font-size: 0.8rem;
    }

}


@media (max-width: 767px) {
    .footer {
        padding: 20px 0; 
    }

    .head {
        font-size: 1rem; 
    }

    .subhead {
        font-size: 0.8rem;
        margin-top: 5px;
    }

    .link {
        font-size: 0.8rem; 
    }

    .foot {
        font-size: 0.6rem;
        text-align: center;
    }
}
