.teamSection {
  padding: 30px 20px 50px 20px;
  background-color: #f8f9fa;
}

.headingContainer {
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
}

.subHeading {
  font-size: 2.2rem;
  color: var(--text-color);
  font-weight: 500;
}

.teamMemberCol {
  margin-bottom: 30px;
  padding: 0 15px; 
}

.role {
  font-weight: 600;
  color: var(--primary-color) !important;
}

.teamMember {
  position: relative;
  text-align: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teamImage {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  border-radius: 10px;
}

.iconContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.userIcon {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.5s ease, opacity 0.5s ease; 
}

.socialIcons.visible {
  opacity: 1;
  transform: translateY(0); 
}

.socialIcons a {
  color: white;
  font-size: 2.5rem;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: var(--primary-color);
}

.memberInfo {
  margin-top: 15px;
}

.memberInfo h3 {
  font-size: 1.25rem;
  color: var(--text-color);
}

.memberInfo p {
  font-size: 1rem;
  color: var(--text-color);
}

.line {
  border-bottom: 3px solid var(--primary-color);
  width: 15%;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .teamImage {
    border-radius: 5px;
  }

  .heading {
    font-size: 1rem;
  }

  .subHeading {
    font-size: 1.5rem;
  }

  .line {
    margin-top: 0px;
  }
}
