.banner {
    position: relative;
    height: 40vh; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center; /* Align content to the left */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Parallax scrolling effect */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 58, 71, 0.9); /* Full black overlay with some transparency */
    z-index: 1;
  }
  
  .content {
    position: relative;
    margin-top: 30px;
    z-index: 2; /* Ensure the text is above the overlay */
    padding-left: 50px; /* Push the text to the left side */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Vertically center text */
    height: 100%; /* Make content fill the full height */
  }

  
  .title {
    font-size: 48px;
    font-weight: bold;
    color: white; /* White text color */
    text-transform: uppercase;
  }
  
  @media (max-width: 1000px) {
    .banner {
      height: 30vh; /* Decrease banner height on smaller screens */
    }

    .title {
      font-size: 32px; /* Reduce font size on smaller screens */
    }
  
    .content {
      margin-top: 0;
      padding-left: 20px; /* Reduce padding on smaller screens */
      justify-content: flex-center;
      align-items: center; /* Adjust position on smaller screens */
    }
  }