.serviceSection {
  padding: 100px 20px; /* Padding for the section, adjusted for mobile */
  background-color: var(--background-color); /* Light background color */
}

.heading1 {
  color: var(--text-color) !important;
  margin-bottom: 15px; /* Space below heading */
  font-size: 1.5rem;
}

.heading2 {
  color: var(--text-color);
  line-height: 2.5rem; /* Reduced line-height for mobile */
  font-size: 1.75rem; /* Adjusted font size */
}

.description {
  color: var(--text-color);
  margin-bottom: 20px; /* Space below description */
  line-height: 1.5rem; /* Reduced line-height */
}

.videoButton {
  background-color: transparent; /* Transparent background */
  color: var(--primary-color); /* Primary color */
  border: 2px solid var(--primary-color); /* Border */
  border-radius: 50px; /* Rounded corners */
  padding: 10px 20px; /* Padding for button */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.videoButton:hover {
  background-color: var(--primary-color); /* Change background on hover */
  color: white; /* Change text color on hover */
}

.playIcon {
  margin-right: 10px; 
}

/* Card Styles */
.card {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.cardBlue {
  background-color: var(--primary-color);
  color: white; 
}

.cardWhite {
  background-color: white; /* Background color for white cards */
  color: black; /* Text color for white cards */
}

.card:hover {
  background-color: var(--primary-color); /* Change background to blue on hover */
  color: white !important; /* Change text color to white */
}

/* Icon and text styles */
.iconContainer {
  font-size: 2.5rem; /* Adjust icon size */
  margin-bottom: 15px; /* Space between icon and title */
  color: var(--primary-color); /* Set icon color to primary color */
  transition: color 0.3s; /* Smooth transition for icon color */
}

.cardTitle,
.cardDescription {
  color: var(--text-color); /* Set initial text color */
  transition: color 0.3s; /* Smooth transition for text color */
}

.cardTitle {
  margin: 10px 0; /* Space around title */
  font-size: 1.25rem; /* Font size for the title */
}

.cardDescription {
  font-size: 1rem; /* Font size for the description */
}

/* On hover: all text and icons turn white */
.card:hover .iconContainer,
.card:hover .cardTitle,
.card:hover .cardDescription {
  color: white; /* Change to white on hover */
}

/* Mobile Specific Styles */
@media (max-width: 768px) {
  .cardBlue {
    background-color: white; /* Override blue background to white on mobile */
    color: black; /* Text color for mobile */
  }
}
